body {
  width: 100%;
  margin: 0rem;
  background: rgb(21, 27, 36);
  color: rgb(255, 255, 255);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

/*----------------------header------------------------*/

.header {
  text-align: center;
}

.subtitle {
  color: rgba(255, 255, 255, 0.5);
}

/*----------------------section------------------------*/

.section {
  position: sticky;
  top: 0;
  background-color: rgb(21, 27, 36);
  z-index: 999;
  margin: 1.5rem 0rem;
  padding: 2rem 0;

  :first-child {
    margin-right: 24px;
    margin-top: 0;
  }
}

.dropdown {
  padding: 0rem 2.25rem 0rem 0.75rem;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.05);
  border: 0rem;
  border-radius: 0.375rem;
  height: 3rem;
  text-decoration: none;
  vertical-align: top;
  cursor: pointer;
}

/*----------------------table------------------------*/

.companyTableContainer tr {
  display: flex;
  padding: 1rem 0;
  border-top:  0.015rem solid rgba(255, 255, 255, 0.1);
}

.companySnowFlakeScoreHeader, .companySnowFlakeScoreContainer {
  width: 3rem;
}

.companyDetailsHeader,
.companyDetails {
  width: 15rem;
  word-wrap: break-word;
  text-align: left;
}

.companyDetailsHeader,
.marketCapDetailsHeader {
  color: rgba(255, 255, 255, 0.5);
}

.companyDetails {
  font-size: 0.75rem;
}

.tickerSymbol {
  color: rgb(35, 148, 223);
  font-size: 1.25rem;
}

.companyName {
  border-bottom: 0.05rem dotted rgb(35, 148, 223);
}

/*----------------------responsiveness------------------------*/

@media only screen and (max-width: 600px) {
  .section {
    :last-child {
      margin-right: 0rem;
      margin-top: 1.5rem;
    }
  }

  .dropdown {
    width: 90%;
    margin-left: 0.7rem;
  }

  .companyDetailsHeader,
  .companyDetails {
    max-width: 10rem;
  }
}
